<div>
  <input type="text"
         name="search"
         placeholder="Event Search" [(ngModel)]="searchContent"/>
  <button type="button" (click)="search(searchContent)">Search</button>
</div>
<agm-map *ngIf="!events" [zoom]="zoom"  [zoomControl]="false" [latitude]="lat" [longitude]="lng" [disableDefaultUI]="false">
  <agm-marker [latitude]="lat"
              [longitude]="lng"
              [markerDraggable]="true"></agm-marker>
</agm-map>
<agm-map *ngIf="!!events" [zoom]="zoom"  [zoomControl]="false" [latitude]="eventsData['location'].latitude" [longitude]="eventsData['location'].longitude" [disableDefaultUI]="false">
  <agm-marker *ngFor="let marker of markers; let i=index"
              (markerClick)="clickedMarker(marker, i)"
              [latitude]="marker.latitude"
              [longitude]="marker.longitude"
              [markerDraggable]="true"><agm-info-window>{{marker.name}}</agm-info-window></agm-marker>
</agm-map>


